.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include desktop {
    max-width: 1200px;
  }
}
