body {
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);

  font-family: Montserrat, sans-serif;
  line-height: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;

  &.current,
  &:hover,
  &:focus {
  }
}
